<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stub-GUI</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="webjars/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/bootstrap-icons.css" rel="stylesheet"/>
    <link href="/style.css" rel="stylesheet"/>
</head>
<body class="py-4">
<div class="delay-table">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Сервис</th>
            <th>Задержка в ms</th>
            <th>Timeout в СУП в ms</th>
            <th>Scheduler Delay <span class="prompt" title="Задерка выставляется на 10мин">?</span></th>
            <th>Доступность сервиса</th>
            <th>Scheduler выключения <span class="prompt" title="Сервис выключается на 10мин">?</span></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="service, itemStat : ${form.viewService}">
            <td><span th:text="${service.name}">Сервис</span></td>
            <td><span th:text="${service.getCurrentDelay}">Задержка в мс</span></td>
            <td><span th:text="${service.timeout}">Timeout в мс</span></td>
            <td><span th:text="${service.schedulerDelay}">Scheduler</span></td>
            <td><span th:text="${service.isAvailable}">Доступность</span></td>
            <td><span th:text="${service.schedulerAvailability}">Scheduler</span></td>
        </tr>
        </tbody>
    </table>
    <div class="div-btn">
        <input value="Изменить" type="button" onclick="location.href='/delay/edit'" class="buttonBlack"/>
        <input value="Добавить сервис" type="button" onclick="location.href='/services/add'" class="buttonBlack"/>
        <input value="-10%" type="button" onclick="location.href='/delay/calculate'" class="buttonBlack"/>
        <input value="Дефолтные" type="button" onclick="location.href='/delay/default'" class="buttonBlack"/>
        <input value="Выкл сервисы" type="button" onclick="location.href='/delay/disableServices'" class="buttonBlack"/>
        <input value="Вкл сервисы" type="button" onclick="location.href='/delay/enableServices'" class="buttonBlack"/>
    </div>
</div>
</body>
</html>