<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>New service</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <script src="/jquery-3.5.1.min.js"></script>
    <script src="/jquery.inputmask.js"></script>
    <script src="/inputmask.date.extensions.js"></script>
    <link href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/bootstrap-icons.css" rel="stylesheet"/>
    <link href="/style.css" rel="stylesheet"/>
</head>

<body class="py-4">
<div class="delay-table">
    <form id='myForm' action="#" th:object="${viewServiceData}" method="post">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th class="col-3">Сервис - название файла и эндпоинта</th>
                <th>Полный текст файла. Для корректной работы должен включать delay, timeout и type</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <input type="text" class="form-control form-addSrv"
                           th:name="ServiceName"
                           th:value="${viewServiceData.getServiceName()}" placeholder='NewService'/>

                    <div class="text-grey"> <br> Чтобы отредактировать текущий текст сервиса - введите только название
                        нужного сервиса и нажмите кнопку "Хочу текст файла".</div>
                </td>
                <td>
                    <textarea class="form-control form-addSrv" rows="21"
                              th:name="Content"
                              th:text="${viewServiceData.getContent()}" placeholder='{
    "rqUid": "__rqUid__",
    "rqTm": "__rqTm__",
    "operUid": "ccc147cfbbe14934a2b470bb0afa20f4",
    "spName": "urn: sbrfsystems: 99-ufs",
    "systemId": "urn: sbrfsystems: 99-pprb",
    "status": {
        "statusCode": 0,
        "statusDesc": "Успешно создан драфт договора. "
    }
}
/* Обращайте внимание на имя параметров типа __rqUid__ - РЕГИСТР ДОЛЖЕН СООТВЕТСТВОВАТЬ ПОЛЮ/TЭГУ.
Ниже - обязательный для заполнения раздел.
Для корректной работы необходимо заключить текст в "---".
И закрывать каждый параметр ";".
Поддерживаемые типы файлов: xml, json. */
---
delay=1000;
timeout=3000;
type=json;
---'  ></textarea>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="div-btn-submit">
            <input class="buttonBlack" type="button" name="save_btn" id="save_btn" value="Сохранить"/>
            <input  type="button" name="update_btn" id="update_btn" value="Хочу текст файла"  class="buttonBlack"  />
        </div>
    </form>
</div>
</body>
<script>
    $('#save_btn').click(function(){
        var form = document.getElementById("myForm")
        form.action = "/services/save";
        form.submit();
    });
    $('#update_btn').click(function(){
        var form = document.getElementById("myForm")
        form.action = "/services/update";
        form.submit();
    });
</script>
</html>
